*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-area {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
  background: rgba(0, 0, 0, 0.1)
}
.nav-area:after {
  content: '';
  clear: both;
  display: block;
  height: auto;
} 
nav li {
  display: inline-block;
  list-style: none;
  padding: 6px 6px;
}
  .nav-area ul {
    list-style: none;
    margin: 5;
  }
  .nav-area>ul>li {
    position: relative;
  }
  .nav-area ul li a {
    text-decoration: none;
    color: #fff;
    padding: 3px 8px;
    display: block;
  }
  .nav-area ul ul li  {
    background: rgba(0, 0, 0, 0.4);
    width: 8rem;
  }
  .nav-area ul ul {
    position: absolute;
    padding: 0;
    min-width: 150px;
    display: none;
    top: 100%;
    left: 0;
  }
  .nav-area ul li:hover>ul {
    display: block;
    left: 15px;
  }
  .nav-area ul ul li:hover a {
    background: rgba(0, 0, 0, 0.3);
  }
  .nav-area ul ul li {
    position: relative;
  }
  .nav-area ul ul ul {
    top: 0;
    left: 100%;
  }
  .nav-area ul ul ul li:hover a {
    background: rgba(0, 0, 0, 0.3);
  }
  .logo1{
    width: 50px;
  }
  .logoh1{
    font-size: 22px;
    margin-right: 560px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000
  }
  li a::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.4s;
  }
  a:hover::after {
    width: 100%;
  }
  a, button{
    font-size: 19px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    position: relative;
    cursor: pointer;
  }
  .bannerimage{
    background: url(../img/bannerimage.png) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .middentekst h1{
    width: 900px;
    font-size: 47px;
    font-weight: 100;
    margin-top: 275px;
    display: flex;
    position: relative;
    left: 400px;
    padding-bottom: 10px;
    line-height: 1;
    text-shadow: 0 1px 1px #727272;
  }
  .middentekst h1:after {
    width: 75px;
    height: 3px;
    background-color: hsla(0,0%,100%,.8);
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    content: "";
  }
  .middentekst h2{
    width: 500px;
    font-size: 32px;
    font-weight: 300;
    display: flex;
    position: relative;
    left: 400px;
    top: 40px;
    line-height: 1;
    text-shadow: 0 1px 1px #727272;
  }
  input[type="text"],
  select,
  textarea {
    width: 250px;
    height: 50px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    resize: vertical;
}
.container-stuk{
    width: 100%;
    height: 500px;
    background-color: #f1f2f3;
}
.container-stukje{
    background: #fff;
    width: 70%;
    height: 300px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 1px 0px #000;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    top: 90px;
    left: 220px;
}
.container-stukje h1{
    font-family: Montserrat,sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0;
    color: #272727;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-left: 35px;
}
.container-stukje p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(64, 64, 64);
    margin-bottom: 20px;
    line-height: 120%;
    padding: 40px;
    text-align: left;
  }
  .container-stukje2 h1{
    font-size: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .image{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 33%;
    height: 50px;
    margin-top: 25px;
  }
  .image-tekst{
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    left: 50px;
    color: #000;
  }
  .image-tekst2{
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
  }
  .image-tekst3{
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    left: 160px;
    top: 280px;
    color: #fff;
  }
  .image-tekst4{
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
  }
  .image h4{
    position: absolute;
    top: 0;
    color: #fff;
  }
  figure{
    overflow: hidden;
    margin: 0 10px;
  }
  #img1{
    position: relative;
    bottom: 315px;
    left: 65px;
    width: 90%;
    border-radius: 10px;
  }
  #img2{
    position: relative;
    bottom: 315px;
    left: 30px;
    width: 90%;
    border-radius: 10px;
  }
  #img3{
    position: relative;
    top: 5px;
    left: -5px;
    width: 82%;
    border-radius: 10px;
  }
  #img4{
    position: relative;
    bottom: 324px;
    left: 65px;
    width: 90%;
    border-radius: 10px;
  }
  #img5{
    position: relative;
    bottom: 324px;
    left: 30px;
    width: 90%;
    border-radius: 10px;
  }
  .image img{
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .image #zoom-in img{
    transform: scale(1);
    transition: 0.4s ease-in-out;
  }
  .image #zoom-in:hover img{
    transform: scale(1.5);
  }
  .infoimage{
    background: url(../img/infoimage.png) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .overonsimage{
    background: url(../img/overonsimage.png) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .bg-img{
    background-image: url(../img/beach.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 370px;
    text-align: center;
    padding: 60px 32px;
    background:  rgba(255,255,255,0.4);
    box-shadow: -1px 4px 28px 0px rgb(0,0,0,0.75); 
}
.content header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat', 'sans-serif';
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0,0.94);
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field input{
    height: 35px;
    width: 300px;
    background: transparent;
    border: #000;   
    color: #222;
    font-size: 16px;
    font-family: 'poppins', 'sans-serif';
}
.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    cursor: pointer;
    display: none;
    font-family: 'Montserrat','sans-serif';
}
.password:valid ~ .show{
    display: block;
}
.space{
    margin-top: 16px;
}
.pass{
    text-align: left;
    margin: 10px 0;
}
.pass a{
    color: white;
    font-family: 'poppins', 'sans-serif';
    text-decoration: none;
    font-size: 17px;
}
.pass:hover a{
    text-decoration: underline;
}
input[type="submit"]{
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
input[type="submit"]:hover{
    background: #3498db;
}
.login{
    color: white;
    margin: 20px 0;
    font-family: 'poppins', sans-serif;
}
.link{
    display: flex;
    cursor: pointer;
    color: white;
    margin: 0 0 20px 0;
}
.facebook, .instagram{
    margin-left: 10px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
}
.facebook{
    margin-left: 0px;
    background: #4267b2;
    border: 1px solid #3e61a8;
}
.instagram{
    background: #e1306c;
    border: 1px solid #df2060;
}
.link i{
    font-size: 17px;
}
.link span{
    font-size: 16px;
    margin-left: 8px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.signup{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;

}
.signup a{
    color: #3498db;
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
}
